body{
	margin: 0px;
	font-size: 13px;
	width: 100%;
	position: relative;
	scroll-behavior: auto;
}
table{
	border: 1px #737373 solid;
	width: 298px;
}
#boxchat{
	position: fixed;
	top: 350px;
	left:1046px;
	background-color: #ffffff;
	width: 300px;
	border-radius: 5px;
	/*opacity: inherit;*/
} 
#boxchat p{
	margin: 0px 0px 0px 150px;
	background-color: #737373;
	font-family: "Times News Roman";
	border-radius: 3px;
	font-size: 2em;
	padding: 0px;
}
#header{
	background-color: blue; 
	overflow: auto;
}
#bd{
	margin: 0px 182px;
	text-align: center;
	background-color: #ffffff;
	display: block;
	overflow:hidden;
}
#wapper #menu_main{
	width:1000px;
	background-color: #484545;
	margin: 0px auto;
	padding: 0px;
	overflow: hidden;
}
#wapper #menu_main ul li  {
	list-style-type: none;
	float: left;
	padding: 0px 15px;
	margin-right: 0px;
	border-right:1px solid;
	text-align: right ;
}
#wapper #menu_main ul li a{
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 auto;
	color: #ffffff;
	padding: 4px 4px;
	margin-right: : 14px solid; 
}
#wapper #menu_main ul{
	width:1000px;
}
.clear{
	clear: both;
}
#banner_2 ul {
	margin-top: 200px;
}
#banner_2 ul li {
	float: left
}
#banner_2 ul li a img{
	width: 300px;
	height: 200px;
	padding: 0px;
	margin: 0px;
}
#container{
	width: 65%;
}
.demuc{
	font-size: 2.5em;
	text-transform: capitalize;
	text-align: left;
	background-color: #bab7b7;
	border-radius: 5px;
}
.content{
	left: 2px;
	font-family: "Time News Romans";
	font-size:1.5em;
}
.content ul li {
	list-style-type: circle;
	padding: 2px ;
	margin-left: 0px

}
#container_2 div{
	float: left;
}
#footer{
	background-color: #6a6868;
	width: 100%;
}
.danhmuc{
	font-size: 0.75em;
	color: white;
}
#footer ul li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
	padding: 4px;
}
#menu_right .content ul li a{
	text-transform: capitalize;
	text-decoration: none;
}
input{
	font-size: 1.2em;
}
#boxchat form table tr td div{
	font-size: 1.5em;
	font-family: "Times News Romans";
}